.register,.login{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

}

.lottie{
    height:400px;
    }
.register input,.login input  {
    background-color: transparent;
    border:none;
    border-bottom:1px solid rgba(137,137,137,0.696);
    color:black;

     
}
.input:focus{
  outline:none !important;
  box-shadow:none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.784) !important;

}
label,a{
    color:rgba(255, 255, 255, 0.39) !important;

}
.register h1{
     font-size: 35px;
    color: white;
    font-weight: 600;

}
@media  screen and (max-width:700px) {
    .layout{
        margin:0 15px;
    }
